 <%= form_for :book, routes.path(:books), method: "POST" do |form| %>
  <div>
    <%= form.label :author, style: "display: block" %>
    <%= form.text_field :author %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit form_submit %>
  </div>
<% end %>
