<p style="color: green"><%= flash[:notice] %></p>

<%= render "book", book: book %>

<div>
  <%= link_to "Edit this book", routes.path(:edit_book, id: book.id) %> |
  <%= link_to "Back to books", routes.path(:books) %>

  <%= form_for :book, routes.path(:book, id: book.id), method: :delete do |f| %>
    <%= f.submit "Destroy this book" %>
  <% end %>
</div>
